In [0]:
import keras as ks
import pandas as pd
import numpy as np

In [0]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [0]:
def kesson_table(df):
    null_val = df.isnull().sum()
    percent = 100 * df.isnull().sum()/len(df)
    kesson_table = pd.concat([null_val, percent], axis=1)
    kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
    return kesson_table_ren_columns

kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age          177  19.865320
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       2   0.224467

In [0]:
kesson_table(test)

             欠損数          %
PassengerId    0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age           86  20.574163
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           1   0.239234
Cabin        327  78.229665
Embarked       0   0.000000

In [0]:
train["Age"] =train["Age"].fillna(train["Age"].mean())
train["Embarked"] = train["Embarked"].fillna("S")

kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       0   0.000000

In [0]:
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1
train["Embarked"][train["Embarked"] == "S" ] = 0
train["Embarked"][train["Embarked"] == "C" ] = 1
train["Embarked"][train["Embarked"] == "Q" ] = 2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
test["Age"] =test["Age"].fillna(test["Age"].mean())
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1
test["Embarked"][test["Embarked"] == "S" ] = 0
test["Embarked"][test["Embarked"] == "C" ] = 1
test["Embarked"][test["Embarked"] == "Q" ] = 2
test.Fare[152] = test.Fare.mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [0]:
train["Pclass"] /= 3
train["Age"] /= 80
train["SibSp"] /= 8
train["Parch"] /= 6
train["Fare"] /= 512.3292
train["Embarked"] /= 2

train.head()

   PassengerId  Survived    Pclass  ...      Fare Cabin  Embarked
0            1         0  1.000000  ...  0.014151   NaN         0
1            2         1  0.333333  ...  0.139136   C85       0.5
2            3         1  1.000000  ...  0.015469   NaN         0
3            4         1  0.333333  ...  0.103644  C123         0
4            5         0  1.000000  ...  0.015713   NaN         0

[5 rows x 12 columns]

In [0]:
test["Pclass"] /= 3
test["Age"] /= 76
test["SibSp"] /= 8
test["Parch"] /= 9
test["Fare"] /= 512.3292
test["Embarked"] /= 2

test.head()

   PassengerId    Pclass  ... Cabin Embarked
0          892  1.000000  ...   NaN        1
1          893  1.000000  ...   NaN        0
2          894  0.666667  ...   NaN        1
3          895  1.000000  ...   NaN        0
4          896  1.000000  ...   NaN        0

[5 rows x 11 columns]

In [0]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.optimizers import RMSprop

batch_size = 32
num_classes = 2
epochs = 20

In [0]:
from sklearn.model_selection import train_test_split

In [0]:
target = train["Survived"].values
features = train[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values

In [0]:
x_train, x_test, t_train, t_test = train_test_split(features, target, test_size =0.3, random_state = 0)

In [0]:
x_train.shape

(623, 7)

In [0]:
x_test.shape

(268, 7)

In [0]:
x_train = x_train.reshape(623, 7)
x_test = x_test.reshape(268, 7)
x_train = x_train.astype('float32')
x_test = x_test.astype('float32')

In [0]:
t_train = ks.utils.to_categorical(t_train, num_classes)
t_test = ks.utils.to_categorical(t_test, num_classes)

In [0]:
model = Sequential()
model.add(Dense(5, activation='relu', input_shape=(7, )))
model.add(Dense(2, activation='softmax'))

model.summary()
model.compile(loss='binary_crossentropy',
              optimizer=RMSprop(),
              metrics=['accuracy'])

_________________________________________________________________
Layer (type)                 Output Shape              Param #
=================================================================
dense_9 (Dense)              (None, 5)                 40
_________________________________________________________________
dense_10 (Dense)             (None, 2)                 12
=================================================================
Total params: 52
Trainable params: 52
Non-trainable params: 0
_________________________________________________________________

In [0]:
history = model.fit(x_train, t_train,
                    batch_size=batch_size,
                    epochs=epochs,
                    verbose=1,
                    validation_data=(x_test, t_test))

W0621 05:58:03.061720 140315833894784 deprecation_wrapper.py:119] From /usr/local/lib/python3.6/dist-packages/keras/backend/tensorflow_backend.py:986: The name tf.assign_add is deprecated. Please use tf.compat.v1.assign_add instead.

Train on 623 samples, validate on 268 samples
Epoch 1/20
623/623 [==============================] - 1s 1ms/step - loss: 0.6546 - acc: 0.6806 - val_loss: 0.6437 - val_acc: 0.7836
Epoch 2/20
623/623 [==============================] - 0s 62us/step - loss: 0.6307 - acc: 0.7753 - val_loss: 0.6219 - val_acc: 0.7948
Epoch 3/20
623/623 [==============================] - 0s 65us/step - loss: 0.6119 - acc: 0.7881 - val_loss: 0.6029 - val_acc: 0.7948
Epoch 4/20
623/623 [==============================] - 0s 61us/step - loss: 0.5939 - acc: 0.7994 - val_loss: 0.5841 - val_acc: 0.8022
Epoch 5/20
623/623 [==============================] - 0s 64us/step - loss: 0.5779 - acc: 0.8026 - val_loss: 0.5692 - val_acc: 0.7985
Epoch 6/20
623/623 [==============================] - 0s 69us/step - loss: 0.5624 - acc: 0.8010 - val_loss: 0.5512 - val_acc: 0.7985
Epoch 7/20
623/623 [==============================] - 0s 63us/step - loss: 0.5472 - acc: 0.8074 - val_loss: 0.5362 - val_acc: 0.7985
Epoch 8/20
623/623 [==============================] - 0s 61us/step - loss: 0.5336 - acc: 0.8058 - val_loss: 0.5228 - val_acc: 0.8022
Epoch 9/20
623/623 [==============================] - 0s 59us/step - loss: 0.5220 - acc: 0.8090 - val_loss: 0.5121 - val_acc: 0.8097
Epoch 10/20
623/623 [==============================] - 0s 56us/step - loss: 0.5120 - acc: 0.8138 - val_loss: 0.5023 - val_acc: 0.8097
Epoch 11/20
623/623 [==============================] - 0s 64us/step - loss: 0.5036 - acc: 0.8138 - val_loss: 0.4937 - val_acc: 0.8097
Epoch 12/20
623/623 [==============================] - 0s 62us/step - loss: 0.4958 - acc: 0.8138 - val_loss: 0.4852 - val_acc: 0.8097
Epoch 13/20
623/623 [==============================] - 0s 57us/step - loss: 0.4887 - acc: 0.8154 - val_loss: 0.4787 - val_acc: 0.8097
Epoch 14/20
623/623 [==============================] - 0s 60us/step - loss: 0.4830 - acc: 0.8106 - val_loss: 0.4728 - val_acc: 0.8097
Epoch 15/20
623/623 [==============================] - 0s 58us/step - loss: 0.4781 - acc: 0.8138 - val_loss: 0.4678 - val_acc: 0.8097
Epoch 16/20
623/623 [==============================] - 0s 63us/step - loss: 0.4739 - acc: 0.8106 - val_loss: 0.4647 - val_acc: 0.8097
Epoch 17/20
623/623 [==============================] - 0s 55us/step - loss: 0.4711 - acc: 0.8058 - val_loss: 0.4610 - val_acc: 0.8097
Epoch 18/20
623/623 [==============================] - 0s 54us/step - loss: 0.4682 - acc: 0.8090 - val_loss: 0.4581 - val_acc: 0.8097
Epoch 19/20
623/623 [==============================] - 0s 49us/step - loss: 0.4659 - acc: 0.8090 - val_loss: 0.4556 - val_acc: 0.8097
Epoch 20/20
623/623 [==============================] - 0s 56us/step - loss: 0.4637 - acc: 0.8090 - val_loss: 0.4539 - val_acc: 0.8097

In [0]:
test_features = test[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values

In [0]:
predict_classes = model.predict_classes(test_features, batch_size=batch_size)

predict_classes

array([0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 0, 0, 1, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 0, 1,
       1, 0, 0, 1, 1, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1,
       1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0,
       0, 1, 1, 1, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0,
       1, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 0, 1, 1, 0, 0, 0, 0, 0, 1,
       1, 0, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 1, 1, 1,
       0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1,
       0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0,
       0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 0, 0,
       0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 1, 0, 0, 1, 0, 0,
       1, 1, 1, 0, 0, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1,
       0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0])

In [0]:
predict_classes.shape

(418,)

In [0]:
PassengerId = np.array(test["PassengerId"]).astype(int)
                            
my_solution = pd.DataFrame(predict_classes, PassengerId, columns = ["Survived"])
                            
my_solution.to_csv("Soluuuution.csv", index_label = ["PassengerId"])

In [0]:
from google.colab import files
files.download("Soluuuution.csv")

77%だった。良