In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
import pandas as pd
import numpy as np
import lightgbm as lgb

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [0]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [0]:
all = pd.concat([train, test], axis =0).reset_index(drop=True)
all

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  """Entry point for launching an IPython kernel.

       Age        Cabin Embarked  ...  SibSp Survived              Ticket
0     22.0          NaN        S  ...      1      0.0           A/5 21171
1     38.0          C85        C  ...      1      1.0            PC 17599
2     26.0          NaN        S  ...      0      1.0    STON/O2. 3101282
3     35.0         C123        S  ...      1      1.0              113803
4     35.0          NaN        S  ...      0      0.0              373450
5      NaN          NaN        Q  ...      0      0.0              330877
6     54.0          E46        S  ...      0      0.0               17463
7      2.0          NaN        S  ...      3      0.0              349909
8     27.0          NaN        S  ...      0      1.0              347742
9     14.0          NaN        C  ...      1      1.0              237736
10     4.0           G6        S  ...      1      1.0             PP 9549
11    58.0         C103        S  ...      0      1.0              113783
12    20.0          NaN        S  ...      0      0.0           A/5. 2151
13    39.0          NaN        S  ...      1      0.0              347082
14    14.0          NaN        S  ...      0      0.0              350406
15    55.0          NaN        S  ...      0      1.0              248706
16     2.0          NaN        Q  ...      4      0.0              382652
17     NaN          NaN        S  ...      0      1.0              244373
18    31.0          NaN        S  ...      1      0.0              345763
19     NaN          NaN        C  ...      0      1.0                2649
20    35.0          NaN        S  ...      0      0.0              239865
21    34.0          D56        S  ...      0      1.0              248698
22    15.0          NaN        Q  ...      0      1.0              330923
23    28.0           A6        S  ...      0      1.0              113788
24     8.0          NaN        S  ...      3      0.0              349909
25    38.0          NaN        S  ...      1      1.0              347077
26     NaN          NaN        C  ...      0      0.0                2631
27    19.0  C23 C25 C27        S  ...      3      0.0               19950
28     NaN          NaN        Q  ...      0      1.0              330959
29     NaN          NaN        S  ...      0      0.0              349216
...    ...          ...      ...  ...    ...      ...                 ...
1279  21.0          NaN        Q  ...      0      NaN              364858
1280   6.0          NaN        S  ...      3      NaN              349909
1281  23.0          B24        S  ...      0      NaN               12749
1282  51.0          D28        S  ...      0      NaN            PC 17592
1283  13.0          NaN        S  ...      0      NaN           C.A. 2673
1284  47.0          NaN        S  ...      0      NaN          C.A. 30769
1285  29.0          NaN        S  ...      3      NaN              315153
1286  18.0          C31        S  ...      1      NaN               13695
1287  24.0          NaN        Q  ...      0      NaN              371109
1288  48.0          B41        C  ...      1      NaN               13567
1289  22.0          NaN        S  ...      0      NaN              347065
1290  31.0          NaN        Q  ...      0      NaN               21332
1291  30.0           C7        S  ...      0      NaN               36928
1292  38.0          NaN        S  ...      1      NaN               28664
1293  22.0          NaN        C  ...      0      NaN              112378
1294  17.0          NaN        S  ...      0      NaN              113059
1295  43.0          D40        C  ...      1      NaN               17765
1296  20.0          D38        C  ...      0      NaN       SC/PARIS 2166
1297  23.0          NaN        S  ...      1      NaN               28666
1298  50.0          C80        C  ...      1      NaN              113503
1299   NaN          NaN        Q  ...      0      NaN              334915
1300   3.0          NaN        S  ...      1      NaN  SOTON/O.Q. 3101315
1301   NaN          NaN        Q  ...      0      NaN              365237
1302  37.0          C78        Q  ...      1      NaN               19928
1303  28.0          NaN        S  ...      0      NaN              347086
1304   NaN          NaN        S  ...      0      NaN           A.5. 3236
1305  39.0         C105        C  ...      0      NaN            PC 17758
1306  38.5          NaN        S  ...      0      NaN  SOTON/O.Q. 3101262
1307   NaN          NaN        S  ...      0      NaN              359309
1308   NaN          NaN        C  ...      1      NaN                2668

[1309 rows x 12 columns]

In [0]:
def kesson_table(df):
    null_val = df.isnull().sum()
    percent = 100 * df.isnull().sum()/len(df)
    kesson_table = pd.concat([null_val, percent], axis=1)
    kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
    return kesson_table_ren_columns

kesson_table(all)

              欠損数          %
Age           263  20.091673
Cabin        1014  77.463713
Embarked        2   0.152788
Fare            1   0.076394
Name            0   0.000000
Parch           0   0.000000
PassengerId     0   0.000000
Pclass          0   0.000000
Sex             0   0.000000
SibSp           0   0.000000
Survived      418  31.932773
Ticket          0   0.000000

In [0]:
all["surname"] = all["Name"].apply(lambda x:x.split(",")[0])

In [0]:
cols = ["surname", "Sex","Embarked"]
all_to_cat = pd.get_dummies(all, columns=cols)
print(all_to_cat.shape)

(1309, 890)

In [0]:
data_counts = all['surname'].value_counts()
surname_to_drop = data_counts[data_counts < 4].index.tolist()

to_drop_list = []
target_col = "surname"

for each_data in surname_to_drop:
    col_name = "{}_{}".format(target_col, each_data)
    to_drop_list.append(col_name)
    
all_to_cat.drop(columns=to_drop_list, inplace=True)
print(all_to_cat.shape)

(1309, 57)

In [0]:
all_to_cat.head()

    Age Cabin     Fare  ... Embarked_C  Embarked_Q  Embarked_S
0  22.0   NaN   7.2500  ...          0           0           1
1  38.0   C85  71.2833  ...          1           0           0
2  26.0   NaN   7.9250  ...          0           0           1
3  35.0  C123  53.1000  ...          0           0           1
4  35.0   NaN   8.0500  ...          0           0           1

[5 rows x 57 columns]

In [0]:
to_drop = ["PassengerId", "Name", "Ticket", "Cabin"]

all_to_cat.drop(columns=to_drop, inplace=True)
print(all_to_cat.shape)

(1309, 53)

In [0]:
all_to_cat['Age'].fillna(all_to_cat['Age'].mode()[0], inplace=True)

In [0]:
all_to_cat

       Age      Fare  Parch  ...  Embarked_C  Embarked_Q  Embarked_S
0     22.0    7.2500      0  ...           0           0           1
1     38.0   71.2833      0  ...           1           0           0
2     26.0    7.9250      0  ...           0           0           1
3     35.0   53.1000      0  ...           0           0           1
4     35.0    8.0500      0  ...           0           0           1
5     24.0    8.4583      0  ...           0           1           0
6     54.0   51.8625      0  ...           0           0           1
7      2.0   21.0750      1  ...           0           0           1
8     27.0   11.1333      2  ...           0           0           1
9     14.0   30.0708      0  ...           1           0           0
10     4.0   16.7000      1  ...           0           0           1
11    58.0   26.5500      0  ...           0           0           1
12    20.0    8.0500      0  ...           0           0           1
13    39.0   31.2750      5  ...           0           0           1
14    14.0    7.8542      0  ...           0           0           1
15    55.0   16.0000      0  ...           0           0           1
16     2.0   29.1250      1  ...           0           1           0
17    24.0   13.0000      0  ...           0           0           1
18    31.0   18.0000      0  ...           0           0           1
19    24.0    7.2250      0  ...           1           0           0
20    35.0   26.0000      0  ...           0           0           1
21    34.0   13.0000      0  ...           0           0           1
22    15.0    8.0292      0  ...           0           1           0
23    28.0   35.5000      0  ...           0           0           1
24     8.0   21.0750      1  ...           0           0           1
25    38.0   31.3875      5  ...           0           0           1
26    24.0    7.2250      0  ...           1           0           0
27    19.0  263.0000      2  ...           0           0           1
28    24.0    7.8792      0  ...           0           1           0
29    24.0    7.8958      0  ...           0           0           1
...    ...       ...    ...  ...         ...         ...         ...
1279  21.0    7.7500      0  ...           0           1           0
1280   6.0   21.0750      1  ...           0           0           1
1281  23.0   93.5000      0  ...           0           0           1
1282  51.0   39.4000      1  ...           0           0           1
1283  13.0   20.2500      2  ...           0           0           1
1284  47.0   10.5000      0  ...           0           0           1
1285  29.0   22.0250      1  ...           0           0           1
1286  18.0   60.0000      0  ...           0           0           1
1287  24.0    7.2500      0  ...           0           1           0
1288  48.0   79.2000      1  ...           1           0           0
1289  22.0    7.7750      0  ...           0           0           1
1290  31.0    7.7333      0  ...           0           1           0
1291  30.0  164.8667      0  ...           0           0           1
1292  38.0   21.0000      0  ...           0           0           1
1293  22.0   59.4000      1  ...           1           0           0
1294  17.0   47.1000      0  ...           0           0           1
1295  43.0   27.7208      0  ...           1           0           0
1296  20.0   13.8625      0  ...           1           0           0
1297  23.0   10.5000      0  ...           0           0           1
1298  50.0  211.5000      1  ...           1           0           0
1299  24.0    7.7208      0  ...           0           1           0
1300   3.0   13.7750      1  ...           0           0           1
1301  24.0    7.7500      0  ...           0           1           0
1302  37.0   90.0000      0  ...           0           1           0
1303  28.0    7.7750      0  ...           0           0           1
1304  24.0    8.0500      0  ...           0           0           1
1305  39.0  108.9000      0  ...           1           0           0
1306  38.5    7.2500      0  ...           0           0           1
1307  24.0    8.0500      0  ...           0           0           1
1308  24.0   22.3583      1  ...           1           0           0

[1309 rows x 53 columns]

In [0]:
train_to_cat = all_to_cat.iloc[0:891, :]
train_to_cat.head()

    Age     Fare  Parch  Pclass  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0  22.0   7.2500      0       3  ...         1           0           0           1
1  38.0  71.2833      0       1  ...         0           1           0           0
2  26.0   7.9250      0       3  ...         0           0           0           1
3  35.0  53.1000      0       1  ...         0           0           0           1
4  35.0   8.0500      0       3  ...         1           0           0           1

[5 rows x 53 columns]

In [0]:
train_train = train_to_cat.drop(["Survived"], axis=1)
train_train.head()

    Age     Fare  Parch  Pclass  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
0  22.0   7.2500      0       3  ...         1           0           0           1
1  38.0  71.2833      0       1  ...         0           1           0           0
2  26.0   7.9250      0       3  ...         0           0           0           1
3  35.0  53.1000      0       1  ...         0           0           0           1
4  35.0   8.0500      0       3  ...         1           0           0           1

[5 rows x 52 columns]

In [0]:
target = train_to_cat["Survived"].values
features = train_train.values

In [0]:
x_train, x_test, t_train, t_test = train_test_split(features, target, test_size =0.3, random_state = 0)

In [0]:
lgb.LGBMClassifier()

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [0]:
train_data = lgb.Dataset(x_train, label=t_train)
eval_data = lgb.Dataset(x_test, label=t_test, reference=train_data)

In [0]:
params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'num_class': 1,
    'verbose': 2,
}

In [0]:
gbm = lgb.train(
    params,
    train_data,
    valid_sets=eval_data,
    num_boost_round=500,
    verbose_eval=20,
)

[20]	valid_0's binary_logloss: 0.414487
[40]	valid_0's binary_logloss: 0.409904
[60]	valid_0's binary_logloss: 0.429595
[80]	valid_0's binary_logloss: 0.437748
[100]	valid_0's binary_logloss: 0.445584
[120]	valid_0's binary_logloss: 0.456687
[140]	valid_0's binary_logloss: 0.460203
[160]	valid_0's binary_logloss: 0.471113
[180]	valid_0's binary_logloss: 0.480775
[200]	valid_0's binary_logloss: 0.482277
[220]	valid_0's binary_logloss: 0.488184
[240]	valid_0's binary_logloss: 0.494501
[260]	valid_0's binary_logloss: 0.500529
[280]	valid_0's binary_logloss: 0.510563
[300]	valid_0's binary_logloss: 0.520025
[320]	valid_0's binary_logloss: 0.531214
[340]	valid_0's binary_logloss: 0.540603
[360]	valid_0's binary_logloss: 0.549551
[380]	valid_0's binary_logloss: 0.556816
[400]	valid_0's binary_logloss: 0.568494
[420]	valid_0's binary_logloss: 0.57825
[440]	valid_0's binary_logloss: 0.586598
[460]	valid_0's binary_logloss: 0.594341
[480]	valid_0's binary_logloss: 0.605491
[500]	valid_0's binary_logloss: 0.615505

loss値上がってしまっている

In [0]:
test_to_cat = all_to_cat.iloc[891:, :]
test_to_cat.head()

      Age     Fare  Parch  Pclass  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
891  34.5   7.8292      0       3  ...         1           0           1           0
892  47.0   7.0000      0       3  ...         0           0           0           1
893  62.0   9.6875      0       2  ...         1           0           1           0
894  27.0   8.6625      0       3  ...         1           0           0           1
895  22.0  12.2875      1       3  ...         0           0           0           1

[5 rows x 53 columns]

In [0]:
test_test = test_to_cat.drop(["Survived"], axis=1)
test_test.head()

      Age     Fare  Parch  Pclass  ...  Sex_male  Embarked_C  Embarked_Q  Embarked_S
891  34.5   7.8292      0       3  ...         1           0           1           0
892  47.0   7.0000      0       3  ...         0           0           0           1
893  62.0   9.6875      0       2  ...         1           0           1           0
894  27.0   8.6625      0       3  ...         1           0           0           1
895  22.0  12.2875      1       3  ...         0           0           0           1

[5 rows x 52 columns]

In [0]:
test_features = test_test.values

In [0]:
preds = gbm.predict(test_features)
preds

array([4.94072494e-02, 5.14180584e-04, 2.07946605e-04, 9.21356828e-01,
       8.29115117e-01, 5.13828458e-02, 1.03043950e-04, 5.10199569e-02,
       8.97175846e-01, 4.39167672e-08, 1.32547757e-05, 1.64840764e-02,
       9.99954467e-01, 6.52487001e-04, 9.97517468e-01, 9.99837519e-01,
       1.69451527e-02, 6.64637280e-01, 7.50205352e-01, 6.16103957e-03,
       5.13503254e-04, 2.55132512e-01, 9.99999079e-01, 6.45685490e-02,
       9.97756691e-01, 1.53484739e-04, 9.99996804e-01, 8.50376502e-01,
       9.75365311e-01, 4.69460389e-03, 4.11660799e-03, 4.12918202e-03,
       3.13166409e-01, 1.34534416e-02, 7.03179122e-01, 3.39468234e-02,
       4.98559065e-03, 4.65507188e-02, 4.34597071e-03, 4.98922424e-01,
       1.72513647e-03, 5.06293186e-01, 7.47863989e-01, 9.82398881e-01,
       9.99764253e-01, 5.66926054e-04, 3.14492622e-01, 1.30767015e-01,
       9.99493211e-01, 8.94278271e-01, 1.19855866e-01, 9.53667297e-02,
       9.70636985e-01, 9.94487182e-01, 7.89549120e-01, 1.40102036e-06,
       3.31286677e-04, 1.45489439e-04, 4.16160441e-03, 9.99999970e-01,
       3.71584581e-04, 6.37221661e-01, 1.23519150e-03, 9.97091723e-01,
       7.74555884e-01, 9.52854645e-01, 9.97161918e-01, 2.25969163e-04,
       5.46886510e-01, 9.47843103e-01, 9.91391912e-01, 2.89276846e-04,
       1.59531265e-01, 1.31548137e-01, 9.99999982e-01, 9.82290224e-01,
       2.65191216e-03, 7.42222829e-01, 3.52788279e-02, 9.91391912e-01,
       9.99691534e-01, 2.03111262e-02, 6.63462015e-01, 1.32547757e-05,
       9.72391751e-02, 1.40497734e-01, 9.99380047e-01, 6.67320459e-01,
       9.91391912e-01, 9.97462601e-01, 3.00071086e-01, 4.36075089e-01,
       9.96134226e-01, 2.65191216e-03, 4.43456140e-01, 7.54459902e-03,
       9.99592725e-01, 2.85987160e-01, 9.77212227e-01, 2.52919426e-02,
       9.99979619e-01, 2.76300442e-03, 1.30767015e-01, 3.77392332e-01,
       9.80463381e-01, 6.96921635e-04, 7.73462770e-02, 1.30767015e-01,
       1.56163154e-02, 2.97216252e-03, 8.25606515e-03, 9.90837192e-01,
       9.99999925e-01, 5.99854970e-01, 9.99717579e-01, 5.00570704e-03,
       1.12249178e-03, 9.85776671e-01, 8.38172218e-01, 9.95231952e-01,
       9.60527119e-01, 1.77417562e-01, 9.99999996e-01, 2.13658692e-04,
       1.30767015e-01, 9.53548366e-01, 2.90917817e-01, 9.96227600e-01,
       4.71339189e-01, 2.65191216e-03, 6.33574275e-01, 5.52496709e-03,
       4.24509251e-02, 1.75375634e-03, 8.09585797e-02, 1.02568035e-03,
       6.97622626e-01, 2.53272974e-02, 1.30348991e-02, 4.66504387e-05,
       2.76203614e-04, 9.99999561e-01, 1.52458477e-03, 7.60954311e-03,
       9.93718698e-01, 1.56183532e-03, 3.97197722e-04, 5.57131948e-04,
       5.06293186e-01, 6.03390542e-04, 9.99998543e-01, 2.31156486e-03,
       1.60255472e-05, 6.31279402e-02, 2.49059641e-04, 2.59831380e-03,
       9.99613186e-01, 8.93542828e-01, 9.93718698e-01, 1.73141816e-02,
       8.74199570e-01, 9.99691534e-01, 7.37641771e-01, 1.94133385e-02,
       1.98335455e-01, 1.30359588e-02, 2.19673309e-02, 3.58450252e-07,
       9.99463816e-01, 3.07770890e-01, 2.59831380e-03, 8.62023628e-01,
       9.04517279e-04, 1.57676172e-01, 3.02176321e-02, 9.99594999e-01,
       9.99449895e-01, 9.21775590e-03, 9.99987421e-01, 9.98933523e-01,
       3.52788279e-02, 9.97397732e-01, 9.97080712e-01, 1.30767015e-01,
       9.99947861e-01, 1.63221990e-02, 9.95050792e-01, 1.16207271e-02,
       1.08844305e-03, 1.98335455e-01, 3.67030305e-02, 1.66572774e-02,
       1.12827903e-01, 2.68146900e-04, 9.99756065e-01, 6.83973879e-02,
       9.99044815e-01, 7.19674021e-02, 2.67553505e-03, 4.94427431e-01,
       9.82740661e-01, 9.90644751e-01, 3.58213776e-01, 9.99507820e-01,
       1.80083052e-03, 7.87887011e-02, 1.67225518e-02, 4.19262670e-02,
       9.99992230e-01, 1.75652565e-06, 9.39542203e-01, 1.94133385e-02,
       4.78017418e-04, 8.45104138e-01, 4.24947363e-05, 2.39977373e-02,
       9.87055610e-01, 7.51321058e-04, 9.99819026e-01, 2.65191216e-03,
       9.68033438e-01, 3.31523555e-03, 9.76015801e-01, 8.00586266e-01,
       9.32777016e-01, 9.12043329e-01, 7.61275907e-02, 9.91391912e-01,
       9.57675070e-04, 1.98710612e-02, 1.61696488e-02, 9.98601874e-01,
       3.13855906e-02, 8.61505987e-04, 7.45563526e-01, 1.08376762e-02,
       1.33427011e-02, 4.51874336e-01, 9.96976416e-01, 9.99994311e-01,
       3.47185285e-01, 9.80667531e-02, 7.89825056e-01, 1.32547757e-05,
       2.93231867e-05, 9.86734942e-03, 8.84887667e-01, 5.44150263e-02,
       9.95231952e-01, 1.08132567e-01, 9.81493568e-01, 3.85109272e-02,
       7.81163187e-01, 1.95152038e-02, 2.05803161e-01, 2.59831380e-03,
       1.30767015e-01, 3.24111163e-03, 9.67393624e-01, 1.10306334e-01,
       1.17872078e-05, 2.01574162e-02, 9.30689520e-01, 9.34882668e-01,
       1.66336268e-01, 1.32547757e-05, 1.51080682e-02, 2.59831380e-03,
       4.98559065e-03, 2.11954242e-03, 6.96049899e-02, 1.30767015e-01,
       9.99985839e-01, 9.86710490e-01, 8.09966466e-02, 9.93159514e-01,
       2.28787397e-03, 1.57479072e-03, 5.36934186e-05, 4.48484226e-03,
       5.24390483e-02, 9.96596483e-01, 9.91391912e-01, 9.90303742e-01,
       9.66416137e-01, 4.51031763e-06, 5.10881626e-03, 3.04140660e-01,
       1.57676172e-01, 2.65191216e-03, 1.17258747e-03, 1.50028219e-04,
       1.57676172e-01, 5.60404438e-02, 6.65795414e-03, 1.25964385e-03,
       9.94068920e-01, 4.69460389e-03, 3.96799444e-03, 2.60312569e-01,
       6.17672975e-02, 1.35275131e-01, 2.38269301e-04, 1.10367753e-01,
       9.91391912e-01, 9.69214450e-01, 5.60500937e-03, 8.18788584e-01,
       2.48838109e-04, 1.65918157e-04, 1.36640418e-03, 8.50376502e-01,
       2.59831380e-03, 1.03871392e-02, 9.85457892e-01, 6.97712001e-01,
       1.27838236e-03, 4.30012730e-01, 5.92385130e-01, 1.33632902e-04,
       3.77392332e-01, 5.31485633e-02, 2.53272974e-02, 9.99595108e-01,
       9.99818751e-01, 2.26781388e-02, 9.98257622e-01, 1.13756310e-02,
       2.09909636e-03, 2.48009674e-03, 7.57686163e-01, 4.19650029e-01,
       8.09966466e-02, 9.95051823e-01, 2.56618201e-02, 2.81380324e-01,
       8.75393569e-01, 4.44526136e-05, 2.79790528e-01, 1.57676172e-01,
       3.38715226e-02, 2.52432830e-04, 1.09512877e-03, 9.98845432e-01,
       4.83190463e-03, 1.53168409e-01, 2.53272974e-02, 2.31052813e-03,
       2.16568454e-01, 9.99924303e-01, 9.99898128e-01, 1.80083052e-03,
       1.08445078e-04, 1.91624954e-02, 7.46970865e-01, 3.88152087e-01,
       9.99200743e-01, 1.61826736e-04, 1.30767015e-01, 7.22588348e-02,
       3.38731435e-05, 9.99996009e-01, 9.99924303e-01, 9.21356828e-01,
       9.99996163e-01, 1.85235663e-02, 5.83502446e-02, 9.17219648e-01,
       9.99884196e-01, 4.93101040e-01, 1.22425664e-02, 9.99999969e-01,
       6.09391254e-04, 4.46340873e-02, 9.99924705e-01, 9.99784622e-01,
       1.26086016e-01, 3.64105028e-03, 5.32130366e-05, 7.89564877e-01,
       1.30767015e-01, 9.69547452e-02, 1.43077932e-02, 8.54351443e-01,
       2.00311413e-01, 9.35006762e-01, 4.36075089e-01, 1.39537177e-04,
       1.44630001e-01, 3.79218836e-04, 5.20741069e-03, 9.98180866e-01,
       4.60174730e-01, 5.71390111e-04, 8.93116271e-07, 9.93885295e-01,
       4.55066815e-04, 9.99990571e-01, 2.35336670e-01, 2.79474804e-04,
       9.99934638e-01, 4.31861913e-06, 9.99996804e-01, 4.05742140e-05,
       1.16892007e-01, 5.66278216e-01, 4.60348329e-03, 1.27462711e-01,
       8.74199570e-01, 8.54504097e-01, 9.91391912e-01, 9.99999952e-01,
       2.48295619e-02, 2.65191216e-03, 9.99999888e-01, 6.16605667e-06,
       2.65191216e-03, 7.53032903e-01])

In [0]:
preds.shape

(418,)

In [0]:
preds01 = np.where(preds < 0.5, 0, 1)
print(preds01)

[0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 1 0 1 1 0 0 0 1 0 1 0 1 1 1 0 0 0 0 0 1 0 0
 0 0 0 0 1 1 1 1 0 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 1 0 1 1 1 1 0 1 1 1 0 0 0
 1 1 0 1 0 1 1 0 1 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 1 1 1 0 1 0 0 1 0 1 0 0 1 0 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 0 0 1 0 1 0 0 1 0 0 1 0 1 0 1 0
 1 1 1 1 0 1 0 0 0 1 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 0 0 1 1 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0 0
 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 1 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 1 0
 0 1 1 1 1 0 0 1 0 0 1]

In [0]:
PassengerId = np.array(test["PassengerId"]).astype(int)
                            
my_solution = pd.DataFrame(preds01, PassengerId, columns = ["Survived"])
                            
my_solution.to_csv("FRY1_1.csv", index_label = ["PassengerId"])

In [0]:
from google.colab import files
files.download("FRY1_1.csv")

72.2%。イマイチ。

In [0]:
gbm2 = lgb.train(
    params,
    train_data,
    valid_sets=eval_data,
    num_boost_round=100,
    verbose_eval=5,
)

[5]	valid_0's binary_logloss: 0.516998
[10]	valid_0's binary_logloss: 0.454688
[15]	valid_0's binary_logloss: 0.427422
[20]	valid_0's binary_logloss: 0.414487
[25]	valid_0's binary_logloss: 0.405726
[30]	valid_0's binary_logloss: 0.406917
[35]	valid_0's binary_logloss: 0.410702
[40]	valid_0's binary_logloss: 0.409904
[45]	valid_0's binary_logloss: 0.416515
[50]	valid_0's binary_logloss: 0.420383
[55]	valid_0's binary_logloss: 0.427194
[60]	valid_0's binary_logloss: 0.429595
[65]	valid_0's binary_logloss: 0.433737
[70]	valid_0's binary_logloss: 0.436594
[75]	valid_0's binary_logloss: 0.436584
[80]	valid_0's binary_logloss: 0.437748
[85]	valid_0's binary_logloss: 0.435804
[90]	valid_0's binary_logloss: 0.43965
[95]	valid_0's binary_logloss: 0.443632
[100]	valid_0's binary_logloss: 0.445584

In [0]:
preds2 = gbm2.predict(test_features)
preds2

array([2.72873622e-02, 1.42027384e-02, 7.08004789e-03, 6.34621623e-01,
       5.96275956e-01, 3.38214551e-01, 1.02572690e-01, 2.28846353e-01,
       6.15053238e-01, 3.36504858e-03, 3.98556584e-03, 1.16223660e-01,
       9.93936991e-01, 1.28303723e-02, 9.67523055e-01, 9.68846339e-01,
       1.10464220e-01, 4.35197113e-01, 4.38224063e-01, 5.07077624e-02,
       4.78741863e-02, 4.26303128e-01, 9.97828577e-01, 1.09301599e-01,
       8.46826894e-01, 8.64610026e-03, 9.95960310e-01, 4.78876826e-01,
       8.18266289e-01, 3.16844243e-02, 2.70947020e-02, 1.71662294e-02,
       4.02436072e-01, 1.66780792e-01, 3.85909409e-01, 5.69321938e-02,
       1.47372025e-01, 3.06662124e-01, 6.49243957e-02, 3.77135884e-01,
       3.21302913e-02, 4.42470141e-01, 1.69608448e-01, 8.87804541e-01,
       9.90442994e-01, 2.49623042e-02, 4.09511586e-01, 1.35891895e-01,
       9.64383966e-01, 6.32375987e-01, 1.67428667e-01, 2.50809691e-01,
       8.83089014e-01, 6.82948743e-01, 5.41247152e-01, 1.00320000e-02,
       1.28200679e-02, 2.67634826e-02, 5.57590892e-02, 9.95393963e-01,
       8.39201019e-03, 3.49839653e-01, 3.59683838e-02, 9.29584962e-01,
       2.13534390e-01, 8.47550329e-01, 9.51968049e-01, 3.08719038e-02,
       7.73945847e-01, 7.72378468e-01, 9.13303938e-01, 1.66245085e-02,
       3.45408285e-01, 3.13531332e-01, 9.95844733e-01, 6.90979927e-01,
       2.00660214e-02, 5.32409513e-01, 1.36227703e-01, 9.13303938e-01,
       9.78107072e-01, 1.16262543e-01, 3.46358635e-01, 3.98556584e-03,
       1.53341080e-01, 3.46809549e-01, 8.44077202e-01, 5.55884945e-01,
       9.13303938e-01, 8.97861375e-01, 3.43880060e-01, 2.50974550e-01,
       9.41456286e-01, 2.00660214e-02, 4.61817392e-01, 1.35092489e-01,
       9.45624004e-01, 3.38932403e-01, 8.39146943e-01, 7.41500374e-02,
       9.94494590e-01, 6.44396472e-02, 1.35891895e-01, 3.74023674e-01,
       7.67101615e-01, 3.18695191e-02, 9.81706288e-02, 1.35891895e-01,
       7.67391428e-02, 4.60957941e-02, 5.72174148e-02, 9.15357059e-01,
       9.99667207e-01, 8.08172164e-01, 9.57486053e-01, 7.22211900e-02,
       1.19486910e-01, 8.94267754e-01, 3.34517796e-01, 9.31104319e-01,
       9.08996675e-01, 1.30192630e-01, 9.99281342e-01, 1.09365179e-01,
       1.35891895e-01, 7.44301124e-01, 3.30965052e-01, 8.63530519e-01,
       2.87911759e-01, 2.00660214e-02, 3.84042186e-01, 1.66907842e-01,
       1.79902195e-01, 1.64422766e-01, 8.16129492e-02, 2.78636226e-02,
       4.53138380e-01, 8.93712709e-02, 1.46601386e-01, 8.11412299e-03,
       5.87303267e-02, 9.92081573e-01, 4.75322386e-02, 8.24782668e-02,
       8.95621133e-01, 2.08482931e-02, 2.51054381e-02, 2.90019211e-02,
       4.42470141e-01, 4.43031489e-02, 9.97839165e-01, 6.86233647e-02,
       7.00573391e-04, 2.37173574e-01, 2.87972375e-02, 3.96764860e-02,
       9.65312970e-01, 6.82951266e-01, 8.95621133e-01, 1.37182344e-01,
       8.11860089e-01, 9.78107072e-01, 7.90496699e-01, 7.83750475e-02,
       2.32883604e-01, 1.91494374e-01, 9.32184729e-02, 4.13038904e-03,
       9.69100284e-01, 4.13387467e-01, 3.96764860e-02, 5.65370457e-01,
       4.35394629e-02, 1.23851450e-01, 3.66806917e-02, 9.77991467e-01,
       9.93010262e-01, 1.40324594e-01, 9.94484549e-01, 9.53630922e-01,
       1.36227703e-01, 8.02198023e-01, 9.93748327e-01, 1.35891895e-01,
       9.59738987e-01, 5.53953383e-02, 9.36030651e-01, 2.68884288e-02,
       2.10261370e-02, 2.32883604e-01, 1.36897353e-01, 1.21664537e-01,
       2.65377880e-01, 7.87738620e-03, 9.77339683e-01, 4.33778835e-02,
       9.79812176e-01, 4.24346632e-01, 4.64872994e-02, 4.86443181e-01,
       8.96089004e-01, 9.09798763e-01, 5.44293722e-01, 9.94974752e-01,
       7.99356036e-02, 2.40106921e-01, 1.08307352e-01, 1.26509458e-01,
       9.88635910e-01, 2.93507846e-03, 3.88234559e-01, 7.83750475e-02,
       2.76824977e-02, 7.14095120e-01, 1.46605836e-02, 1.15690951e-01,
       9.43918773e-01, 1.06137520e-01, 9.63198153e-01, 2.00660214e-02,
       9.05819703e-01, 4.51088037e-02, 9.04172318e-01, 4.22398459e-01,
       7.52288123e-01, 7.90688395e-01, 1.65636605e-01, 9.13303938e-01,
       2.63115730e-02, 1.05855180e-01, 1.93231498e-01, 9.82056986e-01,
       1.00143434e-01, 2.54922594e-02, 3.79436460e-01, 6.48101842e-02,
       4.39533029e-02, 3.78676933e-01, 9.00714464e-01, 9.96105909e-01,
       7.02862226e-01, 7.62271645e-01, 8.88028027e-01, 3.98556584e-03,
       1.03944136e-02, 1.59519631e-01, 8.55636618e-01, 7.05524066e-02,
       9.31104319e-01, 3.53123136e-01, 9.75253801e-01, 1.30245951e-01,
       5.63650969e-01, 7.74921793e-02, 2.34502685e-01, 3.96764860e-02,
       1.35891895e-01, 9.74516535e-02, 8.97025953e-01, 2.91704461e-01,
       7.97577591e-03, 6.68954563e-02, 8.54082390e-01, 7.79455140e-01,
       2.50282468e-01, 3.98556584e-03, 9.54846793e-02, 3.96764860e-02,
       1.47372025e-01, 5.08511242e-02, 1.76060656e-01, 1.35891895e-01,
       9.63878954e-01, 9.05352881e-01, 2.09879245e-01, 9.64937165e-01,
       1.02662023e-01, 3.95229073e-02, 1.01487676e-02, 6.56556384e-02,
       2.80907744e-01, 9.33953595e-01, 9.13303938e-01, 8.71341082e-01,
       8.60891535e-01, 2.02934340e-03, 5.28111831e-02, 2.93811485e-01,
       1.23851450e-01, 2.00660214e-02, 3.61665596e-02, 9.94384568e-02,
       1.23851450e-01, 2.00290315e-01, 5.92943993e-02, 3.00579237e-02,
       9.85475906e-01, 3.16844243e-02, 5.23342508e-02, 2.46969133e-01,
       8.00520494e-02, 2.47949302e-01, 1.88352435e-02, 1.06902315e-01,
       9.13303938e-01, 7.51815495e-01, 1.51842108e-01, 8.88522462e-01,
       1.44535978e-01, 2.03869590e-02, 3.71714217e-02, 4.78876826e-01,
       3.96764860e-02, 7.60038897e-02, 9.59633060e-01, 7.97609471e-01,
       1.27241028e-01, 1.78644916e-01, 4.60140586e-01, 1.51814765e-02,
       3.74023674e-01, 1.12972617e-01, 8.93712709e-02, 9.54149120e-01,
       9.63030805e-01, 7.14535976e-02, 9.68650928e-01, 1.28188680e-01,
       4.41171675e-02, 8.01683500e-02, 9.12838670e-01, 5.16043556e-01,
       2.09879245e-01, 8.92124349e-01, 1.82562496e-01, 2.77081272e-01,
       5.84156599e-01, 3.89340396e-03, 2.35112102e-01, 1.23851450e-01,
       6.10378473e-02, 3.80105673e-02, 3.58302115e-02, 9.51477994e-01,
       5.04627566e-02, 4.07033082e-01, 8.93712709e-02, 5.62407127e-02,
       1.08115519e-01, 9.79571026e-01, 9.78711841e-01, 7.99356036e-02,
       1.72175690e-02, 7.61522268e-02, 7.60959851e-01, 2.49754507e-01,
       9.28589013e-01, 1.60317310e-02, 1.35891895e-01, 1.77484796e-01,
       1.16545446e-02, 9.94156508e-01, 9.79571026e-01, 6.34621623e-01,
       9.97787565e-01, 1.71142648e-01, 2.69763941e-01, 7.34119103e-01,
       9.77071749e-01, 3.44053632e-01, 9.43876661e-02, 9.99073834e-01,
       7.81480087e-03, 1.19119669e-01, 9.86805659e-01, 9.59554694e-01,
       1.73226136e-01, 7.22772637e-02, 1.14967424e-02, 2.71559427e-01,
       1.35891895e-01, 9.04344843e-02, 1.94897602e-01, 7.19456129e-01,
       1.32416217e-01, 9.33083985e-01, 2.50974550e-01, 1.47323939e-02,
       2.18794421e-01, 4.34613742e-02, 1.87450762e-01, 9.72792162e-01,
       3.83406028e-01, 1.57648097e-02, 2.65945270e-03, 9.86204761e-01,
       1.52091293e-02, 9.84579649e-01, 2.88516985e-01, 2.97460873e-02,
       9.67965838e-01, 4.18354445e-03, 9.95960310e-01, 1.75410553e-02,
       4.46709765e-01, 4.63476567e-01, 5.98003962e-02, 3.90097146e-01,
       8.11860089e-01, 7.79455140e-01, 9.13303938e-01, 9.98125754e-01,
       2.05167336e-01, 2.00660214e-02, 9.97457293e-01, 2.30103578e-03,
       2.00660214e-02, 3.86809883e-01])

In [0]:
preds201 = np.where(preds2 < 0.5, 0, 1)
print(preds201)

[0 0 0 1 1 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 0 0 1 0 1 1 0 1 1 1 0 0 0
 1 1 0 1 0 1 1 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 0 0 1 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0
 1 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 1 1 0 0 1 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 1 1 1 0 0 1 0 0 0]

In [0]:
PassengerId = np.array(test["PassengerId"]).astype(int)
                            
my_solution = pd.DataFrame(preds201, PassengerId, columns = ["Survived"])
                            
my_solution.to_csv("FRY1_2.csv", index_label = ["PassengerId"])

In [0]:
from google.colab import files
files.download("FRY1_2.csv")

74.6%。多少向上。

In [53]:
gbm3 = lgb.train(
    params,
    train_data,
    valid_sets=eval_data,
    num_boost_round=500,
    early_stopping_rounds=100,
    verbose_eval=20,
)

Training until validation scores don't improve for 100 rounds.
[20]	valid_0's binary_logloss: 0.414487
[40]	valid_0's binary_logloss: 0.409904
[60]	valid_0's binary_logloss: 0.429595
[80]	valid_0's binary_logloss: 0.437748
[100]	valid_0's binary_logloss: 0.445584
[120]	valid_0's binary_logloss: 0.456687
Early stopping, best iteration is:
[26]	valid_0's binary_logloss: 0.405014

In [57]:
preds3 = gbm3.predict(test_features)
preds3

array([0.05704717, 0.34238607, 0.06873357, 0.299423  , 0.46059493,
       0.44071202, 0.49521249, 0.35979021, 0.72072105, 0.0485595 ,
       0.05086707, 0.17482346, 0.945932  , 0.03168204, 0.93691355,
       0.91040097, 0.18074502, 0.2314063 , 0.32274054, 0.47791205,
       0.2214194 , 0.49666517, 0.93755003, 0.18457783, 0.86343313,
       0.03840145, 0.94726958, 0.2314063 , 0.57913564, 0.15573265,
       0.03840145, 0.05211944, 0.46382837, 0.32504539, 0.54304678,
       0.15267932, 0.52015232, 0.55625728, 0.09830685, 0.2442925 ,
       0.10341585, 0.39103669, 0.06603356, 0.84924725, 0.93691355,
       0.07927321, 0.54978674, 0.16615058, 0.93691355, 0.45711211,
       0.3107698 , 0.26596956, 0.91305301, 0.76526374, 0.31383847,
       0.10136209, 0.04361169, 0.0753323 , 0.08083727, 0.9308806 ,
       0.06257082, 0.20512073, 0.11910224, 0.83269772, 0.26235869,
       0.86627976, 0.85076859, 0.17664988, 0.64490063, 0.86343313,
       0.81146161, 0.06939529, 0.32274054, 0.55530433, 0.9308806 ,
       0.47486184, 0.08518331, 0.79876771, 0.21722033, 0.81146161,
       0.81109875, 0.19212335, 0.17482346, 0.05086707, 0.14799362,
       0.32002395, 0.52912273, 0.55625728, 0.81146161, 0.81109875,
       0.3876532 , 0.17227195, 0.92318802, 0.08518331, 0.42090982,
       0.14038133, 0.93691355, 0.31216111, 0.62704134, 0.20364415,
       0.93871427, 0.11425928, 0.16615058, 0.23402134, 0.60020561,
       0.11330708, 0.10569285, 0.16615058, 0.1090945 , 0.094487  ,
       0.10341585, 0.81146161, 0.96360181, 0.83269772, 0.90550323,
       0.17147719, 0.2314063 , 0.67392355, 0.43278943, 0.91354082,
       0.88497348, 0.14582048, 0.96259896, 0.24902117, 0.16615058,
       0.64912797, 0.15177195, 0.81281952, 0.15084419, 0.08518331,
       0.42651568, 0.23695002, 0.26444343, 0.2314063 , 0.05348325,
       0.06284424, 0.28422213, 0.12291927, 0.52015232, 0.07605075,
       0.12547984, 0.9308806 , 0.18366042, 0.10549992, 0.62289057,
       0.06275155, 0.10134788, 0.07429798, 0.39103669, 0.11426582,
       0.94726958, 0.20826299, 0.03015214, 0.31685992, 0.10136209,
       0.0753323 , 0.91858522, 0.59247632, 0.62289057, 0.26106403,
       0.81146161, 0.81109875, 0.8250021 , 0.08545769, 0.15084419,
       0.41102615, 0.17664988, 0.04360218, 0.91040097, 0.55625728,
       0.0753323 , 0.2857111 , 0.06063037, 0.22114973, 0.07926469,
       0.92135709, 0.94689118, 0.2214194 , 0.94564075, 0.91024613,
       0.21722033, 0.52515006, 0.94545399, 0.16615058, 0.90650119,
       0.05091826, 0.88497348, 0.05562315, 0.12547984, 0.15084419,
       0.07272325, 0.14406945, 0.40234084, 0.06873357, 0.81109875,
       0.05783909, 0.74812671, 0.59478238, 0.11303185, 0.52015232,
       0.81421823, 0.81109875, 0.50918354, 0.93372363, 0.12096038,
       0.33753739, 0.49521249, 0.13386485, 0.87900121, 0.04884627,
       0.19744177, 0.08545769, 0.228139  , 0.79876771, 0.25054384,
       0.19469376, 0.83136173, 0.18366042, 0.89542613, 0.08518331,
       0.84924725, 0.09718398, 0.88306585, 0.19353305, 0.79876771,
       0.69441215, 0.15177195, 0.81146161, 0.05091826, 0.12538292,
       0.56890956, 0.91305301, 0.08651787, 0.05496642, 0.54928995,
       0.095086  , 0.19212335, 0.2314063 , 0.84845686, 0.93891549,
       0.79876771, 0.89988898, 0.49531718, 0.05086707, 0.07753036,
       0.30556777, 0.88497348, 0.07926469, 0.91354082, 0.48024664,
       0.93372363, 0.1087716 , 0.53735056, 0.1090945 , 0.20364415,
       0.0753323 , 0.16615058, 0.25927996, 0.84845686, 0.19353305,
       0.04440271, 0.08534283, 0.90398849, 0.58791886, 0.26900716,
       0.05086707, 0.15013736, 0.0753323 , 0.52015232, 0.11595001,
       0.36305395, 0.16615058, 0.91561164, 0.81421823, 0.2314063 ,
       0.91305301, 0.18225314, 0.04936437, 0.11426582, 0.11303185,
       0.52015232, 0.81109875, 0.81146161, 0.69538048, 0.62209728,
       0.03869955, 0.0753323 , 0.2738093 , 0.22114973, 0.08518331,
       0.1073862 , 0.49521249, 0.22114973, 0.18366042, 0.12538292,
       0.09082534, 0.94807672, 0.15573265, 0.17991924, 0.29012592,
       0.321221  , 0.32105138, 0.04936437, 0.1134865 , 0.81146161,
       0.79876771, 0.48457651, 0.81109875, 0.18366042, 0.25588261,
       0.08428931, 0.2314063 , 0.0753323 , 0.47791205, 0.90550323,
       0.83269772, 0.19212335, 0.14407153, 0.25612641, 0.05211944,
       0.23402134, 0.22114973, 0.12291927, 0.67489903, 0.90536991,
       0.08545769, 0.93987996, 0.36305395, 0.10603137, 0.12415488,
       0.90940525, 0.57913564, 0.2314063 , 0.60751882, 0.2157948 ,
       0.23637731, 0.33942614, 0.07422049, 0.16775077, 0.22114973,
       0.09911727, 0.24096568, 0.19006884, 0.89542613, 0.07708632,
       0.59478238, 0.12291927, 0.47791205, 0.09795905, 0.9023465 ,
       0.93053091, 0.12096038, 0.16709544, 0.19513039, 0.62209728,
       0.15415557, 0.93691355, 0.05086707, 0.16615058, 0.37180142,
       0.10136209, 0.9396119 , 0.9023465 , 0.299423  , 0.94372933,
       0.20412155, 0.32002395, 0.33440731, 0.93053091, 0.26900716,
       0.09810461, 0.9308806 , 0.1109298 , 0.15084419, 0.93119054,
       0.90550323, 0.46059493, 0.12415488, 0.06626366, 0.19372122,
       0.16615058, 0.09333212, 0.44556983, 0.55756228, 0.13193607,
       0.90796135, 0.17227195, 0.06873357, 0.17954194, 0.19372122,
       0.16672437, 0.93053091, 0.46731758, 0.0944876 , 0.0543183 ,
       0.94545399, 0.07661626, 0.93053091, 0.17932623, 0.24096568,
       0.91858522, 0.04303864, 0.94726958, 0.12736027, 0.60301308,
       0.27489614, 0.08907806, 0.32151827, 0.81146161, 0.58791886,
       0.81146161, 0.96381729, 0.35814595, 0.08518331, 0.90536991,
       0.03869955, 0.08518331, 0.29977631])

In [58]:
preds301 = np.where(preds3 < 0.5, 0, 1)
print(preds301)

[0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1 0 1
 1 0 0 0 0 0 1 1 0 1 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 1 1 0 0 1
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0
 0 0 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 1 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 1 1 0 1 1 1 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 1 1 0 0 1 0 0 0 1 1 1 1 0 0 0 0 1 0 1 0 1 0 1 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 1 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0
 0 1 1 1 1 0 0 1 0 0 0]