In [0]:
from google.colab import files
uploaded = files.upload()

Saving train.csv to train.csv

In [0]:
from google.colab import files
uploaded = files.upload()

Saving test.csv to test.csv

In [0]:
import pandas as pd
import numpy as np

train = pd.read_csv("train.csv")
test = pd.read_csv("test.csv")

In [0]:
train.head()

   PassengerId  Survived  Pclass  ...     Fare Cabin  Embarked
0            1         0       3  ...   7.2500   NaN         S
1            2         1       1  ...  71.2833   C85         C
2            3         1       3  ...   7.9250   NaN         S
3            4         1       1  ...  53.1000  C123         S
4            5         0       3  ...   8.0500   NaN         S

[5 rows x 12 columns]

In [0]:
test.head()

   PassengerId  Pclass  ... Cabin Embarked
0          892       3  ...   NaN        Q
1          893       3  ...   NaN        S
2          894       2  ...   NaN        Q
3          895       3  ...   NaN        S
4          896       3  ...   NaN        S

[5 rows x 11 columns]

In [0]:
import lightgbm as lgb

In [0]:
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score
from sklearn.model_selection import train_test_split

In [0]:
def kesson_table(df):
    null_val = df.isnull().sum()
    percent = 100 * df.isnull().sum()/len(df)
    kesson_table = pd.concat([null_val, percent], axis=1)
    kesson_table_ren_columns = kesson_table.rename(
        columns = {0 : '欠損数', 1 : '%'})
    return kesson_table_ren_columns

kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age          177  19.865320
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       2   0.224467

In [0]:
train["Age"] =train["Age"].fillna(train["Age"].mean())
train["Embarked"] = train["Embarked"].fillna("S")

kesson_table(train)

             欠損数          %
PassengerId    0   0.000000
Survived       0   0.000000
Pclass         0   0.000000
Name           0   0.000000
Sex            0   0.000000
Age            0   0.000000
SibSp          0   0.000000
Parch          0   0.000000
Ticket         0   0.000000
Fare           0   0.000000
Cabin        687  77.104377
Embarked       0   0.000000

In [0]:
train["Sex"][train["Sex"] == "male"] = 0
train["Sex"][train["Sex"] == "female"] = 1
train["Embarked"][train["Embarked"] == "S" ] = 0
train["Embarked"][train["Embarked"] == "C" ] = 1
train["Embarked"][train["Embarked"] == "Q" ] = 2

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """

In [0]:
test["Age"] =test["Age"].fillna(test["Age"].mean())
test["Sex"][test["Sex"] == "male"] = 0
test["Sex"][test["Sex"] == "female"] = 1
test["Embarked"][test["Embarked"] == "S" ] = 0
test["Embarked"][test["Embarked"] == "C" ] = 1
test["Embarked"][test["Embarked"] == "Q" ] = 2
test.Fare[152] = test.Fare.mean()

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """
/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  import sys

In [0]:
train["Pclass"] /= 3
train["Age"] /= 80
train["SibSp"] /= 8
train["Parch"] /= 6
train["Fare"] /= 512.3292
train["Embarked"] /= 2

train.head()

   PassengerId  Survived    Pclass  ...      Fare Cabin  Embarked
0            1         0  1.000000  ...  0.014151   NaN         0
1            2         1  0.333333  ...  0.139136   C85       0.5
2            3         1  1.000000  ...  0.015469   NaN         0
3            4         1  0.333333  ...  0.103644  C123         0
4            5         0  1.000000  ...  0.015713   NaN         0

[5 rows x 12 columns]

In [0]:
test["Pclass"] /= 3
test["Age"] /= 76
test["SibSp"] /= 8
test["Parch"] /= 9
test["Fare"] /= 512.3292
test["Embarked"] /= 2

test.head()

   PassengerId    Pclass  ... Cabin Embarked
0          892  1.000000  ...   NaN        1
1          893  1.000000  ...   NaN        0
2          894  0.666667  ...   NaN        1
3          895  1.000000  ...   NaN        0
4          896  1.000000  ...   NaN        0

[5 rows x 11 columns]

In [0]:
target = train["Survived"].values
features = train[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values

In [0]:
x_train, x_test, t_train, t_test = train_test_split(features, target, test_size =0.3, random_state = 0)

In [0]:
lgb.LGBMClassifier()

LGBMClassifier(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
               importance_type='split', learning_rate=0.1, max_depth=-1,
               min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
               n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
               random_state=None, reg_alpha=0.0, reg_lambda=0.0, silent=True,
               subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [0]:
train_data = lgb.Dataset(x_train, label=t_train)
eval_data = lgb.Dataset(x_test, label=t_test, reference= train_data)

In [0]:
params = {
    'task': 'train',
    'boosting_type': 'gbdt',
    'objective': 'binary',
    'num_class': 1,
    'verbose': 2,
}

num_classは1？

In [0]:
gbm = lgb.train(
    params,
    train_data,
    valid_sets=eval_data,
    num_boost_round=10,
    verbose_eval=5,
)

[5]	valid_0's binary_logloss: 0.518476
[10]	valid_0's binary_logloss: 0.454638

ようやくうまくいった。
loss値は下がっている

In [0]:
test_features = test[["Pclass", "Age", "Sex", "Fare", "SibSp", "Parch", "Embarked"]].values

In [0]:
preds = gbm.predict(test_features)

In [0]:
preds

array([0.16901964, 0.43560131, 0.2189734 , 0.28399201, 0.48970177,
       0.4644836 , 0.64932859, 0.31543433, 0.62369076, 0.13765268,
       0.31028847, 0.30580483, 0.76014638, 0.14088967, 0.76885916,
       0.75685561, 0.23202435, 0.30988325, 0.43560131, 0.57136161,
       0.36748893, 0.4644836 , 0.78602632, 0.3420793 , 0.74779991,
       0.14088967, 0.76002662, 0.30988325, 0.47082082, 0.29046083,
       0.14088967, 0.14593393, 0.36296822, 0.3283673 , 0.44351931,
       0.29881687, 0.43560131, 0.48970177, 0.22938448, 0.38646015,
       0.1601027 , 0.43620489, 0.16298459, 0.72551341, 0.76885916,
       0.18953483, 0.47082082, 0.33491301, 0.76874242, 0.43560131,
       0.40487995, 0.32945258, 0.75685561, 0.74576926, 0.34192437,
       0.39493471, 0.14847308, 0.20072247, 0.3250975 , 0.74779991,
       0.19908826, 0.15659614, 0.21149645, 0.64932859, 0.49426951,
       0.72551341, 0.64932859, 0.26027891, 0.43620489, 0.74779991,
       0.64932859, 0.17624539, 0.43560131, 0.43620489, 0.74779991,
       0.34540168, 0.33273229, 0.67997486, 0.34812329, 0.64932859,
       0.51906346, 0.33479923, 0.2385469 , 0.31028847, 0.34845705,
       0.34845705, 0.64932859, 0.48970177, 0.64932859, 0.51906346,
       0.48970177, 0.33440458, 0.78472954, 0.33273229, 0.350929  ,
       0.1879277 , 0.76885916, 0.33255181, 0.48970177, 0.22434701,
       0.76885916, 0.18294913, 0.33491301, 0.24186061, 0.62369076,
       0.21027425, 0.20638401, 0.33491301, 0.34812329, 0.19431059,
       0.1601027 , 0.64932859, 0.7878269 , 0.64932859, 0.74779991,
       0.30453606, 0.27737636, 0.48970177, 0.37763834, 0.75685561,
       0.72551341, 0.33491301, 0.78640584, 0.19596787, 0.33491301,
       0.48970177, 0.1875633 , 0.64932859, 0.22434701, 0.15750219,
       0.23306046, 0.38753015, 0.22730975, 0.27737636, 0.14570818,
       0.17624539, 0.3004188 , 0.28399201, 0.48970177, 0.14697166,
       0.22730975, 0.74576926, 0.33479923, 0.21027425, 0.47082082,
       0.1535962 , 0.23428911, 0.15750219, 0.43620489, 0.3033041 ,
       0.76002662, 0.31077735, 0.14697166, 0.43560131, 0.37751042,
       0.20803517, 0.74576926, 0.48970177, 0.47082082, 0.43560131,
       0.64932859, 0.51906346, 0.72551341, 0.27737636, 0.22434701,
       0.3283673 , 0.20014698, 0.15301547, 0.75586008, 0.48970177,
       0.27737636, 0.27150779, 0.14286106, 0.27737636, 0.14697166,
       0.76101052, 0.76266842, 0.36748893, 0.78720186, 0.76940581,
       0.34812329, 0.44257572, 0.76014638, 0.33491301, 0.74576926,
       0.15018166, 0.72551341, 0.18629045, 0.22730975, 0.22434701,
       0.14369351, 0.33046944, 0.43988245, 0.2189734 , 0.51906346,
       0.16298459, 0.49426951, 0.48970177, 0.15121883, 0.43560131,
       0.64932859, 0.51906346, 0.44257572, 0.75685561, 0.22938448,
       0.34743122, 0.64932859, 0.15121883, 0.70356002, 0.17659258,
       0.14369351, 0.27737636, 0.21457826, 0.67997486, 0.43560131,
       0.26027891, 0.64932859, 0.33479923, 0.74779991, 0.33273229,
       0.72551341, 0.15750219, 0.72551341, 0.1875633 , 0.67997486,
       0.57136161, 0.1875633 , 0.64932859, 0.15018166, 0.22434701,
       0.4644836 , 0.75586008, 0.19657967, 0.31077735, 0.44257572,
       0.20293298, 0.33479923, 0.30988325, 0.72551341, 0.76952231,
       0.67997486, 0.76874242, 0.44257572, 0.31028847, 0.3033041 ,
       0.31525813, 0.72551341, 0.14697166, 0.75685561, 0.57136161,
       0.75685561, 0.20356851, 0.37081411, 0.15121883, 0.23306046,
       0.27737636, 0.33491301, 0.25276587, 0.72551341, 0.1875633 ,
       0.15018166, 0.17624539, 0.75685561, 0.48970177, 0.34845705,
       0.31028847, 0.32192361, 0.27737636, 0.43560131, 0.20092733,
       0.37763834, 0.33491301, 0.74576926, 0.64932859, 0.27737636,
       0.75685561, 0.28399201, 0.14369351, 0.3033041 , 0.15121883,
       0.48970177, 0.51906346, 0.64932859, 0.62369076, 0.41467565,
       0.13983119, 0.27737636, 0.37081411, 0.27737636, 0.33273229,
       0.23428911, 0.64932859, 0.27737636, 0.33479923, 0.22434701,
       0.2093215 , 0.76112995, 0.29046083, 0.23428911, 0.33440458,
       0.16298459, 0.34192437, 0.14088967, 0.15121883, 0.64932859,
       0.67997486, 0.40843363, 0.51906346, 0.33479923, 0.43560131,
       0.20092733, 0.30988325, 0.27737636, 0.64932859, 0.74779991,
       0.64932859, 0.33479923, 0.18310813, 0.22818653, 0.14593393,
       0.24186061, 0.3004188 , 0.28399201, 0.47082082, 0.74779991,
       0.20803517, 0.76112995, 0.37763834, 0.29674255, 0.14594008,
       0.76874242, 0.47082082, 0.27737636, 0.62369076, 0.2093215 ,
       0.33046944, 0.23306046, 0.13983119, 0.22180072, 0.27737636,
       0.20092733, 0.13983119, 0.38646015, 0.74779991, 0.33147062,
       0.48970177, 0.28399201, 0.57136161, 0.1408084 , 0.66955448,
       0.76874242, 0.22938448, 0.21457826, 0.23414527, 0.41467565,
       0.2385469 , 0.76885916, 0.31028847, 0.33491301, 0.43560131,
       0.37751042, 0.76278727, 0.66955448, 0.28399201, 0.78472954,
       0.22730975, 0.34845705, 0.22730975, 0.76874242, 0.34845705,
       0.14805465, 0.74576926, 0.23386326, 0.2116089 , 0.76952231,
       0.74779991, 0.48970177, 0.14594008, 0.20014698, 0.4545759 ,
       0.33491301, 0.20678828, 0.43560131, 0.48970177, 0.34812329,
       0.76112995, 0.1875633 , 0.2116089 , 0.20638401, 0.4545759 ,
       0.31054018, 0.76874242, 0.4644836 , 0.2116089 , 0.26892082,
       0.76014638, 0.21096816, 0.76885916, 0.1875633 , 0.13983119,
       0.74576926, 0.14369351, 0.76002662, 0.23428911, 0.47082082,
       0.30480658, 0.15339616, 0.33479923, 0.64932859, 0.48970177,
       0.64932859, 0.76952231, 0.43560131, 0.33273229, 0.74779991,
       0.13983119, 0.33273229, 0.31953702])

In [0]:
preds.shape

(418,)

In [0]:
preds01 = np.where(preds < 0.5, 0, 1)
print(preds01)

[0 0 0 0 0 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 0 0 1 0 1 0 1 0 0 0 0 0 0 0 0 0 0
 0 0 0 0 0 0 1 1 0 0 0 1 0 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 0 1 1 0 0 1 0 0 0 1 0 0 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 0 0 1 1 0 1 0 0 0 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 0
 0 0 1 0 0 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 0 0 1 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 0 1 0 0 0 0 0 0 1 1 1 1 0 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 0 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 1 0 0
 1 0 0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 0 0 0 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 1 0 1 1 0 0 1 0 0 0]

In [0]:
PassengerId = np.array(test["PassengerId"]).astype(int)
                            
my_solution = pd.DataFrame(preds01, PassengerId, columns = ["Survived"])
                            
my_solution.to_csv("MRY.csv", index_label = ["PassengerId"])

In [0]:
from google.colab import files
files.download("MRY.csv")

78.468%
最高記録。
num_boost_round増やせば更に上げられるか？

In [0]:
gbm2 = lgb.train(
    params,
    train_data,
    valid_sets=eval_data,
    num_boost_round=100,
    verbose_eval=5,
)

[5]	valid_0's binary_logloss: 0.518476
[10]	valid_0's binary_logloss: 0.454638
[15]	valid_0's binary_logloss: 0.420545
[20]	valid_0's binary_logloss: 0.405035
[25]	valid_0's binary_logloss: 0.397258
[30]	valid_0's binary_logloss: 0.39836
[35]	valid_0's binary_logloss: 0.404534
[40]	valid_0's binary_logloss: 0.405927
[45]	valid_0's binary_logloss: 0.406021
[50]	valid_0's binary_logloss: 0.405846
[55]	valid_0's binary_logloss: 0.4065
[60]	valid_0's binary_logloss: 0.407893
[65]	valid_0's binary_logloss: 0.409523
[70]	valid_0's binary_logloss: 0.413966
[75]	valid_0's binary_logloss: 0.416746
[80]	valid_0's binary_logloss: 0.42017
[85]	valid_0's binary_logloss: 0.421127
[90]	valid_0's binary_logloss: 0.420576
[95]	valid_0's binary_logloss: 0.425791
[100]	valid_0's binary_logloss: 0.430401

loss値は一度下がってから上がってしまっている。

In [0]:
preds2 = gbm2.predict(test_features)

In [0]:
preds201 = np.where(preds2 < 0.5, 0, 1)
print(preds201)

[0 0 0 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 0 0 0 0 1 0 1 0 1 1 1 0 0 0 1 1 1 0 0
 0 0 1 0 1 0 1 1 0 0 0 1 1 0 0 1 1 1 0 0 0 0 1 0 0 0 1 0 1 1 0 1 1 1 0 0 0
 1 1 0 1 1 1 1 0 0 0 0 0 1 1 0 1 0 0 1 0 1 0 1 1 1 0 1 0 0 1 1 0 0 0 0 0 0
 0 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 0 0 0 1 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 0 0 0 1 1 0 1 1 1 1 1 0 1
 0 1 0 0 0 0 1 0 0 1 0 1 1 0 0 1 1 1 1 0 1 0 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 0 0 0 0 1 0 0 0 0 0 1 1 1 1 1 1 0 0 0 1 0 1 0 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 0 0
 1 0 0 1 0 0 0 0 0 1 1 1 0 0 0 1 0 0 1 1 0 0 0 0 1 0 0 1 1 0 1 0 0 0 1 1 0
 1 0 1 0 0 1 0 0 0 0 1 0 0 0 0 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 1 1 1
 0 1 0 0 1 1 0 0 0 0 0 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 0 0 0
 0 0 1 0 1 0 0 1 0 0 0]

In [0]:
PassengerId = np.array(test["PassengerId"]).astype(int)
                            
my_solution = pd.DataFrame(preds01, PassengerId, columns = ["Survived"])
                            
my_solution.to_csv("MRY2.csv", index_label = ["PassengerId"])

In [0]:
from google.colab import files
files.download("MRY2.csv")

向上見られず。loss値低いnum_boost_round=25くらいが狙い目か

In [86]:
gbm3 = lgb.train(
    params,
    train_data,
    valid_sets=eval_data,
    num_boost_round=25,
    verbose_eval=5,
)

[5]	valid_0's binary_logloss: 0.518476
[10]	valid_0's binary_logloss: 0.454638
[15]	valid_0's binary_logloss: 0.420545
[20]	valid_0's binary_logloss: 0.405035
[25]	valid_0's binary_logloss: 0.397258

In [0]:
preds3 = gbm3.predict(test_features)

In [88]:
preds301 = np.where(preds3 < 0.5, 0, 1)
print(preds301)

[0 0 0 0 1 0 1 0 1 0 0 0 1 0 1 1 0 0 0 1 0 1 1 0 1 0 1 0 1 0 0 0 0 0 1 0 0
 1 0 1 0 1 0 1 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 0 1 0 1 1 0 1 1 1 0 0 0
 1 0 0 1 0 1 1 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 0 1 0 1 0 0 0 1 0 0 0 0 0 0
 1 1 1 1 0 0 1 0 1 1 0 1 0 0 1 0 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0
 1 0 1 0 0 0 0 0 1 1 1 0 1 1 1 0 0 0 0 0 1 1 0 0 0 0 0 1 1 0 1 1 0 0 1 0 1
 0 1 0 0 0 0 0 1 0 1 0 1 1 0 0 1 1 1 1 0 0 1 0 1 0 0 0 0 1 0 0 1 0 1 0 1 0
 1 0 1 1 0 1 0 0 1 1 0 0 0 0 0 0 1 1 1 1 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 1
 0 0 0 1 1 0 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 1 1 1 1 1 0 0 0 0 0 0 1 0 0 0 0
 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 1 1 1 0 0 0 0 0 0 0 1 1 0 1 0 0 0 1 1 0
 1 0 0 0 0 0 0 0 0 0 1 0 1 0 1 0 1 1 0 0 0 1 0 1 0 0 0 0 1 1 0 1 0 0 0 1 0
 0 1 0 0 1 1 1 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 0 1 0 1 0 0 1 0 1 0 1 0 0
 0 1 1 1 1 0 0 1 0 0 0]

In [0]:
PassengerId = np.array(test["PassengerId"]).astype(int)
                            
my_solution = pd.DataFrame(preds01, PassengerId, columns = ["Survived"])
                            
my_solution.to_csv("MRY3.csv", index_label = ["PassengerId"])

In [0]:
from google.colab import files
files.download("MRY3.csv")

向上せず。light gbmだとこのくらいか。